body {
    font-family: Arial, Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
}
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    left: 28px;
    width: 280px;
}
.form-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #f1f1f1;
    z-index: 20;
    width: 50vw; /* Increased width */
}
.form-container {
    max-width: 100%;
    padding: 20px; /* Increased padding */
    background-color: white;
}
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}
.form-container .cancel {
    background-color: red;
}
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

#italics{
    text-decoration: underline;
    color: purple;
    font-style: italic;
   
    
  }

  h1{
    margin: 0px;
    text-align: left;
}

.names{
    display: flex;
    margin-top: 2vh;
    text-align: center;
    justify-content: space-between;
}

#firstName{
    width: 47%;
}

#lastName{
    width: 47%;

}

#buttons{
    display: flex;
}

#popup{
    width: 50%;
    margin: 5px;
}

#closeup{
    width: 50%;
    margin: 5px;

}


.gender-option {
    border: 1px solid #ccc; 
    border-radius: 5px; 
    padding: 5px; 
    display: inline-block;
    width: 32%;

   
}
#gender{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
}
/*login*/
#log-in{
    border: 3px solid gray;
    width: 30%;
    padding: 10px;
}

.log-inFORMcont{
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

.log-inFORMcont input[type=text], .log-inFORMcont input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.log-inFORMcont input[type=text]:focus, .log-inFORMcont input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}



/**PROFILE PAGE**/

.left-side{
    flex-direction: column;
    width: 40%;
    height: 80%;
}

#identity-name{
    border: 1px solid gray;
    margin: 1vh;
}

#identity-name h1{
    margin: 10px;
}

#reasons-cont{
    border: 1px solid gray;
    margin: 1vh;

}

#reasons{
    width: 100%;
    height: 7%;
}

.right-side{
    width: 70%;
    border: 1px solid gray;
    margin: 1vh;
}

#profile-body{
  
    display: flex;
}